/* Define font style for the page */
* {
  font-family: Arial, Helvetica, sans-serif;
}

/* Define background color for the page */
body {
  background-color: rgb(51, 48, 48);
}

/* Define ul section, flexbox display */
ul {
  display: flex;
  margin: 25px;
  justify-content: flex-end;
}

/* Define each li section */
li {
  display: flex;
  align-items: center;
  height: 50px;
  font-size: 20px;
  padding: 0 15px;
  color: aliceblue;
}
/* Define each anchor tag inside the nav section */
nav a {
  text-decoration: none;
  color: aliceblue;
  padding: 15px 0px;
  text-align: center;
  transition: background 0.3s;
}

/* Add pseudo class hover effect to the anchor tag element */
nav a:hover {
  font-weight: bold;
  opacity: 50%;
  background: rgba(51, 48, 48, 0.5);
}

/* Define flexbox display for the headInfo section */
.headInfo {
  display: flex;
  align-items: center;
}

/* There are three info divs inside the headInfo section, define the info div style */
.info {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  color: aliceblue;
  flex: 1;
}

/* Define profile picture size */
.imgProfile {
  width: 40%;
}

/* Define h1 style */
h1 {
  font-size: 40px;
  margin: 10px;
  transition: font-size 2s;
}

/* Add pseudo class hover effect to the h1 element */
h1:hover {
  background: -webkit-linear-gradient(
    45deg,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet,
    red
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 300%;
}

/* Define style for occupation section */
.occupation {
  padding: 10px;
  font-size: 20px;
}

/* Define style for the display section, flexbox display */
.display {
  display: flex;
  flex-direction: row;
  margin: 20px;
  background: rgb(236, 227, 227);
}

/* Define h2 style */
h2 {
  padding-right: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  font-size: 30px;
  flex: 1;
  text-align: end;
}

/* Define the content section style inside the display section */
.display section {
  flex: 3;
  border-left: 5px solid rgb(13, 4, 81);
}

/* Define style for the paragraph about self-description */
.description {
  text-indent: 30px;
  line-height: 40px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: italic;
  padding: 20px;
}

/* Define style for the projects section */
.projects {
  border-left: 5px solid rgb(13, 4, 81);
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Define style for the first project and give it a background image*/
.first {
  display: flex;
  width: 85%;
  height: 400px;
  border: 1px solid black;
  position: relative;
  background-image: url("../images/chicagoBotanicGarden.jpeg");
  background-size: cover;
  background-position: center;
}

/* Define style for all other projects that is not the first project */
.card {
  width: 40%;
  height: 200px;
  border: 1px solid black;
  margin: 10px 35px;
  position: relative;
}

/* Give all projects secion a border */
.first,
.card {
  border: 5px solid rgb(67, 198, 198);
}

/* Give the first card project a background image */
.one {
  background-image: url("../images/littleIslandNY.jpeg");
  background-size: cover;
  background-position-y: 35%;
}

/* Give the second card project a background image */
.two {
  background-image: url("../images/alaska.jpeg");
  background-size: cover;
  background-position-y: 35%;
}

/* Give the third project a background image */
.three {
  background-image: url("../images/davidSki.jpg");
  background-size: cover;
  background-position-y: 35%;
}

/* Give the fourth card project a background image */
.four {
  background-image: url("../images/davidClimb.jpeg");
  background-size: cover;
  background-position-y: 35%;
}

/* Give the project section a hover opacity effect when you hover over the project image */
.work {
  transition: opacity 0.5s;
}

.work:hover {
  opacity: 50%;
}

/* Define styple for the projct description section  */
.title {
  position: absolute;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(67, 198, 198);
  padding: 20px;
}

h3 {
  font-size: 20px;
  color: rgb(34, 33, 33);
}

.title p {
  text-align: start;
  font-size: 15px;
  padding: 0px;
  color: rgb(34, 33, 33);
}

/* Add style to the contact section */
.contacts {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contactLink {
  position: relative;
  font-size: 20px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  padding: 15px 0px;
  text-align: center;
  transition: background 0.3s;
}

/* Add hover effect to display my phone number when you hover over the Phone in contact  */
.phone:hover::after {
  position: absolute;
  bottom: -8px;
  left: -40px;
  padding-left: 20px;
  content: "6304603641";
}

.link {
  padding: 10px;
  color: white;
}

/* Add style to the footer section */
footer {
  margin-top: 40px;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nameFooter {
  color: white;
  font-size: 20px;
}

.nameFooter:hover {
  background: -webkit-linear-gradient(
    45deg,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet,
    red
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.icon {
  transition: font-size 0.3s;
}

.icon:hover {
  font-size: 20px;
}

/* Ajust website for ipad pro size */
@media screen and (max-width: 1024px) {
  h1 {
    font-size: 25px;
  }

  h1:hover {
    background: -webkit-linear-gradient(
      45deg,
      red,
      orange,
      yellow,
      green,
      blue,
      indigo,
      violet,
      red
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 25px;
  }

  .imgProfile {
    width: 50%;
  }

  .first {
    width: 100%;
    margin: 10px 35px;
  }
  .display {
    flex: 8;
  }
  .card {
    width: 100%;
  }
}

/* Ajust website for iphone 12 pro size */
@media screen and (max-width: 390px) {
  li {
    font-size: 15px;
  }

  .imgProfile {
    width: 50%;
  }

  .placeHolder {
    flex: 0;
  }

  h1 {
    font-size: 15px;
  }

  h1:hover {
    background: -webkit-linear-gradient(
      45deg,
      red,
      orange,
      yellow,
      green,
      blue,
      indigo,
      violet,
      red
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 15px;
  }

  .occupation {
    font-size: 10px;
  }

  .link {
    font-size: 10px;
  }

  h2 {
    font-size: 15px;
  }

  .description {
    line-height: 15px;
    font-size: 10px;
  }

  .first {
    width: 100%;
    height: 200px;
    margin: 10px 35px;
  }

  .display {
    flex: 10;
  }

  .card {
    width: 100%;
    height: 100px;
  }

  h3 {
    font-size: 10px;
  }

  .title p {
    font-size: 8px;
  }

  .title {
    padding: 5px;
  }

  .contactLink {
    font-size: 10px;
  }
}
